{% load staticfiles %}
<!doctype html>

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>State-Wise Analytics</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic' rel='stylesheet' type='text/css'>


<link rel="stylesheet" type="text/css" href="{% static 'js/syntax-highlighter/styles/shCore.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'js/syntax-highlighter/styles/shThemeDefault.css' %}" media="all">
        
<script src="{% static 'js/modernizr.js' %}"></script>

</head>

<body>
	
<div id="navmenu-primary" class="">
	<div class="navmenu-primary-content grid-full clearfix">
    	<div class="navmenu-left left clearfix">
            	<div id="nav_item_logo" class="nav-item nav-item-logo clearfix first">
                	<a class="nav-item-logo-link nav-sprite nav-sprite-logo" href="" target="_blank">
                        <div class="nav-text"></div>
                    </a>
                </div>
        </div>
        <div class="navmenu-right right clearfix">
        	<ul class="left nav-large nav-items clearfix">
                <li id="nav-item-question" class="nav-item nav-item-question clearfix">
                	<span class="nav-link"><a href="" class="nav-btn-question" target="_blank">Contact the Support</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="site-container">
	<div id="site-columns" class="clearfix">
    	<div id="site-left-column">
        	<div id="primary-content" class="clearfix">
            	<div id="activity-home" class="normal">
                	<div id="left-panel" class="left panel">

                    	<div id="left-panel-content" class="panel-content be-viewport">
                        	<nav id="menu">
                            	<ul>
                                	<li class="menu-label no-border">
                                		<a href="#welcome" class="section-menu-title left">Welcome</a>
                                    </li>
                                    <li class="menu-label no-border">
                                		<a href="#installing-theme" class="section-menu-title left">Maharashtra (CLICK)</a>
                                    </li>
                                    <li class="menu-label no-border">
                                		<a href="#html-structure" class="section-menu-title left">Gujarat</a>
                                	</li>
                                    <li class="menu-label no-border">
                                		<a href="#css-structure" class="section-menu-title left">Madhya Pradesh</a>
                                    </li>
									<li class="menu-label no-border">
                                		<a href="#js-structure" class="section-menu-title left">Uttar Pradesh</a>
                                    </li>
									<li class="menu-label no-border">
                                		<a href="#slider-settings" class="section-menu-title left">Uttarakhand</a>
                                    </li>
                                    <li class="menu-label no-border">
                                		<a href="#portfolio-settings" class="section-menu-title left">Tamil Nadu</a>
                                    </li>
                                    <li class="menu-label no-border">
                                		<a href="#contact-form" class="section-menu-title left">Andhra Pradesh</a>
                                    </li>
									<li class="menu-label no-border">
                                		<a href="#shortcodes" class="section-menu-title left">Telangana</a>
                                    </li>
                                    <li class="menu-label no-border">
                                		<a href="#scripts" class="section-menu-title left">Rajasthan</a>
                                	</li>
                                    <li class="menu-label no-border">
                                		<a href="#final-words" class="section-menu-title left">Jammu and Kashmir</a>
                                	</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
					<div id="right-panel" class="left panel">
                        <div id="right-panel-content" class="panel-content fix-panel">
                        	<div class="box-master">
                            	<div class="box-list-posts">
                                	
						<div id="welcome" class="box-post">
                                    	<!-- Top Content -->
                            			<div class="box-post-content">
                                            <div class="box-post-header">
                                            	<h3 class="c-name">State Wise Fertilizer Analytics</h3>
                                                
                                            </div>
                                            <div class="box-post-container">
                                            	<h3 class="c-title">Welcome To State-Wise Analytics</h3>
                                                <div class="c-text">
													<p>Firstly, a huge thanks for using this website, your support is truly appreciated!</p>
                                                    <p class="last">This page covers the state wise analytics for fertilizers in all possible domain. If you have any questions, feel free to contact us. <a href="" target="_blank">Support Section</a></p>
                                                </div>
                                            </div>
                                        </div>
                            		</div>
									
									
									<div id="installing-theme" class="box-post">
                                    	
                            			<div class="box-post-content">
                                            <div class="box-post-header">
                                            	<h3 class="c-name">Maharashtra Fertilizer Analytics</h3>
                                                                                            </div>
                                            <div class="box-post-container">
                                            	<h3 class="c-title">Type of Fertilizer Used</h3>
                                                
													<p><iframe width="80%" height="550" src="https://jsfiddle.net/shubhamkhanve/mzxa6pv0/3/embedded/result,html,css,js/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></p>
                    
                                            </div>
											<div class="box-post-container">
                                            	<h3 class="c-title">Supply Demand Data</h3>
                                                
													<p><iframe width="80%" height="550" src="https://jsfiddle.net/shubhamkhanve/3969kjx2/1/embedded/result,html,css,js/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></p>
                                                
                                            </div>
											<div class="box-post-container">
												<h3 class="c-title">Forecasting</h3>
												<p><iframe width="80%" height="550" src="https://jsfiddle.net/shubhamkhanve/wakkcm8c/embedded/result,html,css,js/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></p>
											</div>
											<div class="box-post-container">
												<h3 class="c-title">Interactive Data Collection</h3>
												<p><iframe width="80%" height="550" src="https://jsfiddle.net/shubhamkhanve/L6ymfx26/1/embedded/result,html,css,js/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></p>
											</div>
											<div class="box-post-container">
												<h3 class="c-title">Incentives using Polar Charts</h3>
												<p><iframe width="80%" height="550" src="https://jsfiddle.net/shubhamkhanve/8pjp5q28/embedded/result,html,css,js/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></p>
											</div>
											<div class="box-post-container">
												<h3 class="c-title">For Highly Random Data</h3>
												<p><iframe width="80%" height="550" src="https://jsfiddle.net/shubhamkhanve/hv5Lezeh/embedded/result,html,css,js/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></p>
											</div>
										</div>
                            		</div>
									
									
								
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{% static 'js/jquery-ui-1.8.23.custom.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/syntax-highlighter/scripts/shCore.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/syntax-highlighter/scripts/shBrushXml.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/syntax-highlighter/scripts/shBrushCss.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/syntax-highlighter/scripts/shBrushJScript.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/syntax-highlighter/scripts/shBrushPhp.js' %}"></script> 
<script src="{% static 'js/ss.js' %}"></script>

</body>

</html>

